$primary-blue: #049ce4;
$lighter-blue: #0aaffc;
$lightest-blue: #b6e8ff;
$lightest-blue2: #e4f7ff;

$primary-green: #02c9af;

$primary-pink: #fe00ec;
$lightest-pink: #fdecfd;

$primary-darkblue: #2b4f8d;
$lighter-darkblue: #3c6dc3;

$primary-darkest: #011034;
